#-------------------#
<homogenization>
#-------------------#
[SX]
type     none
#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) eulerangles    # orientation as Bunge triple
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor


#-------------------#
<phase>
#-------------------#
/echo/

[TWIP-FeMnC]

elasticity          hooke
plasticity          dislotwin

(output)           edge_density
(output)           dipole_density
(output)           shear_rate_slip
#(output)           accumulated_shear_slip
#(output)           mfp_slip
#(output)           resolved_stress_slip
#(output)           threshold_stress_slip
(output)            twin_fraction
#(output)           shear_rate_twin
#(output)           accumulated_shear_twin
#(output)           mfp_twin
#(output)           resolved_stress_twin
#(output)           threshold_stress_twin
#(output)           shear_rate_shearband	
#(output)           resolved_stress_shearband	
#(output)           sb_eigenvalues
#(output)           sb_eigenvectors
#(output)           stress_trans_fraction
#(output)           strain_trans_fraction
#(output)           total_trans_fraction

### Material parameters ###
lattice_structure	  fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.780e-5        # Average grain size [m]
SolidSolutionStrength 0.6510e8          # Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e10          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.5e-19         # Activation energy for dislocation glide [J]
p_slip              1.15            # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity
### Hardening of glide ###
CLambdaSlip         50.0            # Adj. parameter controlling dislocation mean free path
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 3.0e-19         # Activation energy for climb [J]
Catomicvolume       1.5             # Adj. parameter controlling the atomic volume [in b]
Cedgedipmindistance 2.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Twinning parameters ###
Ntwin               12
twinburgers         1.2e-10         # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             3300.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
Ndot0_twin          0.0             # Number of potential sources per volume per time [1/m**3.s] 
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin	            5.0             # r-exponent in twin formation probability
Cmfptwin            5.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.0             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 0.1 0.1     # Dislocation-Twin interaction coefficients
interactionTwinTwin 5.0 5.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              -0.0526         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
dSFE_dT             0.00027167     # temperature dependance of stacking fault energy
# SFE               0.01433	    # [J/(m^2)]   #guiyang dependant on temperature :123K

<microstructure>
[Grain01]
crystallite 1
(constituent)	phase 1	texture  1	fraction 1.0
[Grain02]
crystallite 1
(constituent)	phase 1	texture  2	fraction 1.0
[Grain03]
crystallite 1
(constituent)	phase 1	texture  3	fraction 1.0
[Grain04]
crystallite 1
(constituent)	phase 1	texture  4	fraction 1.0
[Grain05]
crystallite 1
(constituent)	phase 1	texture  5	fraction 1.0
[Grain06]
crystallite 1
(constituent)	phase 1	texture  6	fraction 1.0
[Grain07]
crystallite 1
(constituent)	phase 1	texture  7	fraction 1.0
[Grain08]
crystallite 1
(constituent)	phase 1	texture  8	fraction 1.0
[Grain09]
crystallite 1
(constituent)	phase 1	texture  9	fraction 1.0
[Grain10]
crystallite 1
(constituent)	phase 1	texture 10	fraction 1.0
[Grain11]
crystallite 1
(constituent)	phase 1	texture 11	fraction 1.0
[Grain12]
crystallite 1
(constituent)	phase 1	texture 12	fraction 1.0
[Grain13]
crystallite 1
(constituent)	phase 1	texture 13	fraction 1.0
[Grain14]
crystallite 1
(constituent)	phase 1	texture 14	fraction 1.0
[Grain15]
crystallite 1
(constituent)	phase 1	texture 15	fraction 1.0
[Grain16]
crystallite 1
(constituent)	phase 1	texture 16	fraction 1.0
[Grain17]
crystallite 1
(constituent)	phase 1	texture 17	fraction 1.0
[Grain18]
crystallite 1
(constituent)	phase 1	texture 18	fraction 1.0
[Grain19]
crystallite 1
(constituent)	phase 1	texture 19	fraction 1.0
[Grain20]
crystallite 1
(constituent)	phase 1	texture 20	fraction 1.0
<texture>
[Grain01]
(gauss)	phi1 23.5846	Phi 100.665	phi2 241.845	scatter 0.0	fraction 1.0
[Grain02]
(gauss)	phi1 357.42	Phi 120.36	phi2 144.884	scatter 0.0	fraction 1.0
[Grain03]
(gauss)	phi1 225.308	Phi 147.353	phi2 349.697	scatter 0.0	fraction 1.0
[Grain04]
(gauss)	phi1 325.241	Phi 126.543	phi2 52.9534	scatter 0.0	fraction 1.0
[Grain05]
(gauss)	phi1 36.4714	Phi 155.647	phi2 306.88	scatter 0.0	fraction 1.0
[Grain06]
(gauss)	phi1 331.286	Phi 176.261	phi2 295.433	scatter 0.0	fraction 1.0
[Grain07]
(gauss)	phi1 134.016	Phi 124.795	phi2 209.444	scatter 0.0	fraction 1.0
[Grain08]
(gauss)	phi1 282.773	Phi 70.8319	phi2 336.113	scatter 0.0	fraction 1.0
[Grain09]
(gauss)	phi1 144.371	Phi 122.429	phi2 282.846	scatter 0.0	fraction 1.0
[Grain10]
(gauss)	phi1 238.471	Phi 9.26529	phi2 291.634	scatter 0.0	fraction 1.0
[Grain11]
(gauss)	phi1 165.791	Phi 33.2678	phi2 138.552	scatter 0.0	fraction 1.0
[Grain12]
(gauss)	phi1 72.2898	Phi 78.3375	phi2 315.019	scatter 0.0	fraction 1.0
[Grain13]
(gauss)	phi1 251.529	Phi 18.6483	phi2 109.227	scatter 0.0	fraction 1.0
[Grain14]
(gauss)	phi1 335.064	Phi 108.734	phi2 352.129	scatter 0.0	fraction 1.0
[Grain15]
(gauss)	phi1 39.6463	Phi 170.895	phi2 293.079	scatter 0.0	fraction 1.0
[Grain16]
(gauss)	phi1 315.846	Phi 127.273	phi2 338.016	scatter 0.0	fraction 1.0
[Grain17]
(gauss)	phi1 290.146	Phi 174.118	phi2 182.533	scatter 0.0	fraction 1.0
[Grain18]
(gauss)	phi1 238.525	Phi 54.3075	phi2 34.9468	scatter 0.0	fraction 1.0
[Grain19]
(gauss)	phi1 75.3249	Phi 92.9953	phi2 55.415	scatter 0.0	fraction 1.0
[Grain20]
(gauss)	phi1 143.056	Phi 67.1824	phi2 98.3813	scatter 0.0	fraction 1.0

